<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194862658585-at2b6htsl7hbi3sn6101e135ckjqes98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194862658585-at2b6htsl7hbi3sn6101e135ckjqes98</string>
	<key>API_KEY</key>
	<string>AIzaSyC2j-r0GXcXI2HkyJ_6hlxZ1Er-WSFAygE</string>
	<key>GCM_SENDER_ID</key>
	<string>194862658585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edabarutcu.moviesapp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-31040</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-31040.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194862658585:ios:3a5185265e7faa99892688</string>
</dict>
</plist>